html{
    height: 100%;
    font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
}

// body{
//     background: linear-gradient(200.00deg, #0066EE 60%, #9383FB 100%);
//     height: 100%;
// }

a{
    color: white;
    text-decoration: none;
}